<div>
  <div class="navbar-fixed">
    <nav class="nav-extended" style="background-color: #2DAAE2;">
      <div class="nav-wrapper">
        <a href="menu.html.erb" class="brand-logo center">ZappyRank</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="https://www.zappyrank.eu/auth/logout">Logout</a></li>
        </ul>
      </div>
      <div class="nav-content">
        <ul class="tabs tabs-transparent">
          <li class="tab"><a onclick="redirectLeaderboard()">Leaderboard</a></li>
          <!--<li class="tab"><a onclick="redirectLivecode()">Live Code</a></li>-->
          <li class="tab"><a onclick="redirectUpload()">Upload</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<div style="margin-top: 50px">
  <div id="editor"></div>

  <script src="../ace-builds-master/src/ace.js" type="text/javascript" charset="utf-8"></script>
  <script>
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/monokai");
      editor.getSession().setMode("ace/mode/c_cpp");
  </script>
  <div id="parameters">
    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
    <div class="input-field col s12">
      <select class="col l12 m12 s12" name="promo" style="display: inline-block">
        <option value="" disabled selected>Choix du langage</option>
        <option value="Javascript">Javascript</option>
        <option value="C/C++">C/C++</option>
        <option value="Scala">Scala</option>
      </select>
    </div>
    <a class="btn waves-effect waves-light">Submit</a>
  </div>
</div>
</div>

<script>
  function redirectLeaderboard(){
      window.location = "https://www.zappyrank.eu/ranking";
  }
  function redirectLivecode(){
      window.location = "https://www.zappyrank.eu/code";
  }
  function redirectUpload(){
      window.location = "https://www.zappyrank.eu/upload";
  }
</script>
