<div>
  <div class="navbar-fixed">
    <nav class="nav-extended" style="background-color: #2DAAE2;">
      <div class="nav-wrapper">
        <a href="menu.html.erb" class="brand-logo center">ZappyRank</a>
        <ul class="right hide-on-med-and-down">
          <li><a class="dropdown-button " href="../index.html" data-activates="dropdown1"><i
          class="fa fa-power-off fa-2x" aria-hidden="true"></i></i></a></li>
        </ul>
      </div>
      <div class="nav-content">
        <ul class="tabs tabs-transparent">
          <li class="tab"><a href="www.zappyrank.eu/ranking">Classement</a></li>
          <!--<li class="tab"><a href="liveCode.html">Live Code</a></li> -->
          <li class="tab"><a href="upload.html.erb">Upload</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<div style="height: 80vh;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;">
  <h1 class="white-text">Bienvenue sur ZappyRank</h1>
</div>
