<div>
  <div class="navbar-fixed">
    <nav class="nav-extended" style="background-color: #2DAAE2;">
      <div class="nav-wrapper">
        <a href="menu.html.erb" class="brand-logo center">ZappyRank</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="https://www.zappyrank.eu:3000/auth/logout">Logout</a></li>
        </ul>
      </div>
      <div class="nav-content">
        <ul class="tabs tabs-transparent">
          <li class="tab"><a onclick="redirectLeaderboard()">Leaderboard</a></li>
          <!--<li class="tab"><a onclick="redirectLivecode()">Live Code</a></li>-->
          <li class="tab"><a class="active"onclick="redirectUpload()">Upload</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<div style="height: 80vh;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;">
  <div style="margin-top: 60px">
    <p class="white-text center"> Upload ton IA et compare là aux autres.<br> Gravi le classement en l'améliorant toujours plus !</p>
    <form class="row container center col col s12 m4 l8" action="/upload" method="post" enctype="multipart/form-data">
      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <input type="file" name="code">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Upload">
        </div>
      </div>
      <input class="btn btn-default" type="submit" value="Upload"/>
    </form>
  </div>
</div>
<script>
  function redirectLeaderboard(){
      window.location = "https://www.zappyrank.eu:3000/ranking";
  }
  function redirectLivecode(){
      window.location = "https://www.zappyrank.eu:3000/code";
  }
  function redirectUpload(){
      window.location = "https://www.zappyrank.eu:3000/upload";
  }
</script>