<div class="container">
    <h1 class="white-text center">Reviens quand tu sera inscrit au module<br>Système Unix - Réseau</h1><br>
    <div class="span7 text-center" style="text-align: center;">
        <iframe src="https://giphy.com/embed/WTlH9XMLIAD4I" width="1280" height="720" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
</div>