<div class="container">
  <h1 class="text-center">Veuillez vous connecter pour continuer</h1>
  <div class="span7 text-center">
    <p><a href="<%= get_login_url %>" class="btn btn-default">Se connecter avec Office365</a></p>
  </div>
</div>
