<div class="container">
  <h1 class="white-text center">ZappyRank</h1><br>
  <div class="span7 text-center">
      <p class="white-text center">ZappyRank est un site réservé aux membres d'Epitech.</p>
      <p class="white-text center">Veuillez vous connecter avec Office 365</p><br>
      <p class="center"><a href="<%= get_login_url %>" class="btn btn-default">Se connecter avec Office365</a></p>
  </div>
</div>
